@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css');

body, html {
  font-family: "Open Sans", serif;
  font-size: 100%;
  height: 100%;
}


.root {

}

.row {
  text-align: center;
  padding: 10px
}

.mapid {
  height:400px;
}

.city {
  font-size: 5vw;
}

.aqi {
  font-size: 10vw;
}

.aqiFace-white {
  filter: invert(1);
  max-width: 60%;
  height: auto;
}

.aqiFace-black {
  max-width: 60%;
  height: auto;
}
